src/library/log/*
src/library/public/*
src/library/private/*
src/library/debug
!src/library/private/0
!src/library/private/0/*
theme/library/log/*
theme/library/public/*
theme/library/private/*
theme/library/debug
!theme/library/private/0
!theme/library/private/0/*

src/config/connect_*.php
theme/config/connect_*.php

.DS_Store

.vscode
*.sublime-project
*.sublime-workspace
nbproject/*
