
/* CONTROLLERS */
#content .scene.module div.controllers code {
	margin-bottom: 20px;
}
#content .scene.module div.controllers h3 {
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 7px;
	padding-bottom: 10px;
	margin: 0;
}

#content .scene.module div.controllers ul.controllers {
	border-top: 1px solid #dedede;
}
#content .scene.module div.controllers ul.controllers > li {
	position: relative; display: block;
	border-bottom: 1px solid #dedede;
}
#content .scene.module div.controllers ul.controllers > li h4 {
	padding: 15px 150px 15px 30px;
}
#content .scene.module div.controllers ul.controllers > li ul.actions {
	position: absolute;
	right: 30px;
	top: 5px;
	padding: 0;
}
#content .scene.module div.controllers ul.controllers > li ul.actions li {
	padding: 0;
}
#content .scene.module div.controllers ul.controllers.no_delete > li ul.actions {
	display: none;
}

#content .scene.module div.controllers > form {
	padding: 30px 0 20px;
}

/* SETTINGS */
#content .scene.module div.settings > form {
	padding: 0 0 20px;
}