<!DOCTYPE html>
<html>
<head>
	<title>With read in browser and unsubscribe</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<style type="text/css">
		table.janitor-email h1, 
		table.janitor-email h2 {font-family: 'PT Serif', 'Times New Roman', Times, serif !important;}
		table.janitor-email h3,
		table.janitor-email p {font-family: 'OpenSans', Verdana, sans-serif !important;}
		table.janitor-email td {padding: 0;}
		@media all and (max-width: 620px) { 
			table.janitor-email {width: 100% !important;} 
		}
		@media all {
			a {
				color: inherit !important;
				font-size: inherit !important;
				font-family: inherit !important;
				font-weight: inherit !important;
				line-height: inherit !important;
			}
			em, strong {
				font-size: inherit !important;
				font-family: inherit !important;
				line-height: inherit !important;
			}
		}
	</style>
	<!--[if lte mso 15]>
	<style type="text/css">
		table.janitor-email h3,
		table.janitor-email p {font-family: Verdana, sans-serif !important;}
		table.janitor-email h1, 
		table.janitor-email h2 {font-family: 'Times New Roman', Times, serif !important;}
	</style>
	<![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|PT+Serif:400" type="text/css" rel="stylesheet">
</head>

<body style="color: #000000; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; margin: 0; padding: 0;">

<div class="preview ignore_text" style="display: none; font-size: 1px; color: #ffffff; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0.001; overflow: hidden">
	{PREVIEW}
</div>

<div class="view-in-browser ignore_text" style="text-align: center; padding: 0; margin: 5px 10px;">
	<table border="0" cellpadding="0" cellspacing="0" class="janitor-email" width="600" style="width: 600px; margin: 0 auto; padding: 0;">
	<tr>
		<td align="center" style="text-align: center;">
			<p style="margin: 0; padding: 0; color: #777777; font-family: Verdana, sans-serif; font-size: 12px; line-height: 14px;">
				<a href="{SITE_URL}/messages/{MESSAGE_TOKEN}" style="color: #777777; font-family: Verdana, sans-serif; font-size: 12px;">Read on {SITE_URL}</a>
			</p>
		</td>
	</tr>
	</table>
</div>

<div style="background-color: #ffffff; text-align: center; padding: 0; margin: 0 10px;">
	<table border="0" cellpadding="0" cellspacing="0" class="janitor-email" width="600" style="width: 600px; margin: 0 auto; padding: 0;">
	<tr>
		<td height="20" style="height: 20px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="right" style="text-align: right;">
			<h2 class="ignore_text" style="margin: 0 10px 0 0; padding: 0; color: #000000; font-family: 'Times New Roman', Times, serif; font-size: 38px; line-height: 38px; font-weight: 400;">
				<a href="{SITE_URL}" style="font-family: 'Times New Roman', Times, serif; font-size: 38px; line-height: 38px; font-weight: 400; color: #000000; text-decoration: none; white-space: nowrap;">{SITE_NAME}</a>
			</h2>
		</td>
	</tr>
	<tr>
		<td height="50" style="height: 50px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" style="text-align: left;" class="mailcontent">
			<h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; font-weight: 400; color: #000000; padding: 0; margin: 0 0 20px;">{Heading 1}</h1>
			<h2 style="font-family: 'Times New Roman', Times, serif; font-size: 26px; font-weight: 400; color: #000000; padding: 0; margin: 20px 0;">{Heading 2}</h2>
			<h3 style="font-family: Verdana, sans-serif; font-size: 15px; color: #777777; padding: 0; margin: 20px 0;">{Heading 3}</h3>
			<h4 style="font-family: Verdana, sans-serif; font-size: 15px; color: #777777; padding: 0; margin: 20px 0;">{Heading 4}</h4>
			<p style="font-family: Verdana, sans-serif; font-size: 15px; color: #777777; padding: 0; margin: 20px 0 30px;">{Paragraph}</p>
			<p class="note" style="font-family: Verdana, sans-serif; font-style: italic; font-size: 15px; color: #777777; padding: 0; margin: 20px 0 30px;">{Paragraph}</p>
			<a href="#" style="color: #000000 !important; text-decoration: underline;">{Link text}</a>
			<div class="media" style="width: 100%; margin: 20px 0 30px;">
				<img src="{Image-src}" width="600" style="width: 100%; height: auto; border: none; display: block; margin: 20px 0 5px;" border="0" alt="{Image title}" />
				<p style="font-family: Verdana, sans-serif; font-style: italic; font-size: 13px; color: #777777; padding: 0; margin: 5px 0;">{Caption}</p>
			</div>
			<ul style="margin: 20px 0 30px; padding: 0;">
				<li style="margin: 10px 0 10px 20px; padding: 0; font-family: Verdana, sans-serif; font-size: 15px; color: #777777;">{List element}</li>
			</ul>
			<ol style="margin: 20px 0 30px; padding: 0;">
				<li style="margin: 10px 0 10px 27px; padding: 0; font-family: Verdana, sans-serif; font-size: 15px; color: #777777;">{List element}</li>
			</ol>
		</td>
	</tr>
	<tr>
		<td height="30" style="height: 50px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" style="text-align: left;">
			<h2 style="margin: 0; padding: 0; color: #000000; font-family: 'Times New Roman', Times, serif; font-size: 38px; line-height: 38px; font-weight: 400;">
				<a href="{SITE_URL}" style="font-family: 'Times New Roman', Times, serif; font-size: 38px; line-height: 38px; font-weight: 400; color: #000000; text-decoration: none;">{SITE_NAME}</a>
			</h2>
		</td>
	</tr>
	<tr>
		<td height="50" style="height: 50px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" style="text-align: center;">
			<p style="margin: 0; padding: 0; color: #777777; font-family: Verdana, sans-serif; font-size: 12px; line-height: 14px;">
				<a href="{SITE_URL}{SITE_SIGNUP_URL}/unsubscribe/{MAILLIST_ID}/{USERNAME}/{VERIFICATION_CODE}" style="font-family: Verdana, sans-serif; font-size: 12px; line-height: 14px; color: #777777;">Unsubscribe from newsletters</a>
			</p>
		</td>
	</tr>
	<tr>
		<td height="30" style="height: 30px; font-size: 1px; line-height: 1px;">&nbsp;</td>
	</tr>
	</table>
</div>

</body>
</html>




